<div class="podaci-filma-kontejner">
  <div class="pregled">
    <div id="film-slika">
      <img
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{
          odabraniFilm.poster_path
        }}"
        alt="slika-poster"
        id="slika-poster"
        alt="{{ odabraniFilm.poster_path }}"
      />
    </div>
    <div class="podaci-filma-kontejner">
      <form>
        <label for="film-title">Title</label>
        <input
          id="film-title"
          type="text"
          readonly
          value="{{ odabraniFilm.title }}"
        />
        <label for="film-original-language">Original language</label>
        <input
          id="film-original-language"
          type="text"
          readonly
          value="{{ odabraniFilm.original_language }}"
        />
        <label for="film-original-title">Original title</label>
        <input
          id="film-original-title"
          type="text"
          readonly
          value="{{ odabraniFilm.original_title }}"
        />
        <label for="film-overview">Overview</label>
        <textarea
          readonly
          name="film-overview"
          id="film-overview"
          cols="30"
          rows="10"
          value="{{ odabraniFilm.overview }}"
        ></textarea>
        <label for="film-id">Id</label>
        <input
          id="film-id"
          type="text"
          readonly
          value="{{ odabraniFilm.id }}"
        />
        <label for="film-adult">Adult</label>
        <input
          id="film-adult"
          type="text"
          readonly
          value="{{ odabraniFilm.adult }}"
        />
        <label for="film-popularity">Popularity</label>
        <input
          id="film-popularity"
          type="text"
          readonly
          value="{{ odabraniFilm.popularity }}"
        />
        <label for="film-release-date">Release-date</label>
        <input
          id="film-release-date"
          type="text"
          readonly
          value="{{
            odabraniFilm.release_date | date : 'dd.MM.yyyy. hh:mm:ss'
          }}"
        />
        <label for="film-backdroppath">Backdroppath</label>

        <input
          id="film-backdroppath"
          type="text"
          readonly
          value="{{ odabraniFilm.backdrop_path }}"
        />
        <label for="film-video">Video</label>
        <input
          id="film-video"
          type="text"
          readonly
          value="{{ odabraniFilm.video }}"
        />
        <label for="film-vote-average">Vote average</label>
        <input
          id="film-vote-average"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_average }}"
        />
        <label for="film-vote-count">Vote count</label>
        <input
          id="film-vote-count"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_count }}"
        />
        <label for="film-datum-unosa">Datum unosa</label>
        <input
          id="film-datum-unosa"
          type="text"
          readonly
          value="{{ odabraniFilm.datum_unosa }}"
        />
        <label for="film-homepage">Homepage</label>
        <input
          id="film-homepage"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_count }}"
        />
        <label for="film-imdb-id">Imdb id</label>
        <input
          id="film-imdb-id"
          type="text"
          readonly
          value="{{ odabraniFilm.imdb_id }}"
        />
        <label for="film-status">Status</label>
        <input
          id="film-status"
          type="text"
          readonly
          value="{{ odabraniFilm.status }}"
        />
        <label for="film-tagline">Tagline</label>
        <input
          id="film-tagline"
          type="text"
          readonly
          value="{{ odabraniFilm.tagline }}"
        />
        <label for="film-korisnik-id">Korisnik id</label>
        <input
          id="film-korisnik-id"
          type="text"
          readonly
          value="{{ odabraniFilm.korisnik_id }}"
        />
      </form>
      <button
        class="lijepiGumb"
        routerLink="/pregledFilmova/galerija/{{ odabraniFilm.id }}"
      >
        Na galeriju
      </button>
    </div>
  </div>
</div>
