<p>film-detalji works!</p>
<div class="podaci-filma-kontejner">
  <label for="film-title">Title</label>
  <input id="film-title" type="text" readonly [(ngModel)]="odabraniFilm" />
  <div class="pregled">
    <a href="/filmoviPregled">
      <img
        src="../fotografije/previous_icon_light.png"
        alt="back"
        class="back-icon"
        title="Na pregled filmova"
      />
    </a>
    <div id="film-slika"></div>
    <div class="podaci-filma-kontejner">
      <form>
        <label for="film-title">Title</label>
        <input
          id="film-title"
          type="text"
          readonly
          value="{{ odabraniFilm.title }}"
        />
        <label for="film-original-language">Original language</label>
        <input
          id="film-original-language"
          type="text"
          readonly
          value="{{ odabraniFilm.original_language }}"
        />
        <label for="film-original-title">Original title</label>
        <input
          id="film-original-title"
          type="text"
          readonly
          value="{{ odabraniFilm.original_title }}"
        />
        <label for="film-overview">Overview</label>
        <textarea
          readonly
          name="film-overview"
          id="film-overview"
          cols="30"
          rows="10"
          value="{{ odabraniFilm.overview }}"
        ></textarea>
        <label for="film-id">Id</label>
        <input
          id="film-id"
          type="text"
          readonly
          value="{{ odabraniFilm.id }}"
        />
        <label for="film-adult">Adult</label>
        <input
          id="film-adult"
          type="text"
          readonly
          value="{{ odabraniFilm.adult }}"
        />
        <label for="film-popularity">Popularity</label>
        <input
          id="film-popularity"
          type="text"
          readonly
          value="{{ odabraniFilm.popularity }}"
        />
        <label for="film-release-date">Release-date</label>
        <input
          id="film-release-date"
          type="text"
          readonly
          value="{{ odabraniFilm.release_date }}"
        />
        <label for="film-backdroppath">Backdroppath</label>

        <input
          id="film-backdroppath"
          type="text"
          readonly
          value="{{ odabraniFilm.backdrop_path }}"
        />
        <label for="film-video">Video</label>
        <input
          id="film-video"
          type="text"
          readonly
          value="{{ odabraniFilm.video }}"
        />
        <label for="film-vote-average">Vote average</label>
        <input
          id="film-vote-average"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_average }}"
        />
        <label for="film-vote-count">Vote count</label>
        <input
          id="film-vote-count"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_count }}"
        />
        <label for="film-datum-unosa">Datum unosa</label>
        <input
          id="film-datum-unosa"
          type="text"
          readonly
          value="{{ odabraniFilm.datum_unosa }}"
        />
        <!-- <label for="film-budget">Budget</label>
        <input id="film-budget" type="text" readonly /> -->
        <label for="film-homepage">Homepage</label>
        <input
          id="film-homepage"
          type="text"
          readonly
          value="{{ odabraniFilm.vote_count }}"
        />
        <label for="film-imdb-id">Imdb id</label>
        <input
          id="film-imdb-id"
          type="text"
          readonly
          value="{{ odabraniFilm.imdb_id }}"
        />
        <!-- <label for="film-revenue">Revenue</label>
        <input id="film-revenue" type="text" readonly />
        <label for="film-runtime">Runtime</label>
        <input id="film-runtime" type="text" readonly /> -->
        <label for="film-status">Status</label>
        <input
          id="film-status"
          type="text"
          readonly
          value="{{ odabraniFilm.status }}"
        />
        <label for="film-tagline">Tagline</label>
        <input
          id="film-tagline"
          type="text"
          readonly
          value="{{ odabraniFilm.tagline }}"
        />
        <label for="film-korisnik-id">Korisnik id</label>
        <input
          id="film-korisnik-id"
          type="text"
          readonly
          value="{{ odabraniFilm.korisnik_id }}"
        />
      </form>
      <button class="lijepiGumb">Na galeriju</button>
    </div>
  </div>
</div>
