<div class="podaci-filma-kontejner">
  <div
    class="podaci-filma-unutarnji-kontejner"
    [style.background-image]="
      'linear-gradient(to right, rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),rgba(31.5, 31.5, 31.5, 0.84) 30%,rgba(31.5, 31.5, 31.5, 0.84) 100%),url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/' +
      imageUrl +
      ')'
    "
    [style.background-size]="'cover'"
    [style.background-repeat]="'no-repeat'"
    [style.background-position]="'center'"
    [style.background]="'transparent'"
  >
    <div class="slika">
      <img
        src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{
          odabraniFilm.poster_path
        }}"
        alt="slika-poster"
        alt="{{ odabraniFilm.poster_path }}"
      />
    </div>
    <div class="podaci">
      <h2>{{ odabraniFilm.title }}</h2>
      <div class="detalji">
        Release date: {{ odabraniFilm.release_date | date : "d.M.yyyy." }}
      </div>
      <div class="detalji">
        Vote average:
        {{ odabraniFilm.vote_average }}/10
      </div>
      <div class="overview">
        <h4>Overview:</h4>
        <p>{{ odabraniFilm.overview }}</p>
      </div>
      <div class="tagline">
        <p>{{ odabraniFilm.tagline }}</p>
      </div>
      <div class="money">
        <p>Budget: ${{ odabraniFilm.budget }}</p>
        <p>Revenue: ${{ odabraniFilm.revenue }}</p>
      </div>
    </div>
  </div>
</div>
<div class="btns">
  <button>Uredi film</button>
  <button (click)="obrisiFilm(odabraniFilm.id)">Izbrisi film</button>
</div>
