<div class="o-studentu">
  <div class="podaci-container">
    <a href="/">
      <img
        src="/assets/fotke/previous_icon_light.png"
        alt="back"
        class="back-icon"
        title="Na početnu"
      />
    </a>
    <h2>Podaci</h2>
    <div class="dokumentacija-container">
      <div class="podaci">
        <h3>Ana Škarica</h3>
        <h3>askarica20@student.foi.hr</h3>
        <h3>IPS-RPS</h3>
      </div>
      <div class="slike">
        <img src="/assets/fotke/ja.jpg" alt="moja-slika" />
      </div>
    </div>
    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th></th>
            <th>Legenda</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="oznaka zelena">Sve je napravljeno</div></td>
            <td>
              <div class="oznaka zuta">Djelomično je napravljeno</div>
            </td>
            <td>
              <div class="oznaka crvena">Skoro ništa nije napravljeno</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Resurs Parametri</th>
            <th>GET čitanje</th>
            <th>POST kreiranje</th>
            <th>PUT ažuriranje</th>
            <th>DELETE brisanje</th>
            <th>Detaljno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>api/korisnici</td>
            <td>
              <div class="oznaka zelena">vraća listu korisnika</div>
            </td>
            <td>
              <div class="oznaka zelena">kreira novog korisnika</div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/:korime</div></td>
            <td>
              <div class="oznaka zelena">vraća određenog korisnika</div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira određenog korisnika</div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/korime/aktivacija</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">405</div></td>
            <td><div class="oznaka zelena">Aktivira novog korisnika</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/korime/prijava</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div class="oznaka zelena">
                Provjerava podatke prijave i vraća je li korisnik uspješno
                prijavljen
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td>
              <div>
                api/filmovi/?stranica=broj&brojFilmova=
                broj[&datum=datum][&zanr=idZanr]
                [&naziv=dioNazivFilma][&sortiraj=[d|z|n]]
              </div>
            </td>
            <td>
              <div class="oznaka zuta">
                vraća listu određenog broja filmova za neku stranicu (broj),
                opcionalno filtrirano po datumu unosa (datum) i/ili žanru
                (idZanr) i/ili nazivu filma (dioNazivFilma), te može sortirati
                uzlazno po datumu(d), nazivu(n) ili žanru(z)
              </div>
            </td>
            <td>
              <div class="oznaka zelena">
                Uz dobivene podatke čita sve podatke o filmu s vanjskog servisa
                i dodaje novi film
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div>
                Pri GET metodi nema svih vrsta filtriranja i sortiranja, nego
                samo neke
              </div>
            </td>
          </tr>
          <tr>
            <td><div>api/filmovi/:id</div></td>
            <td>
              <div class="oznaka zelena">
                Vraća podatke određenog filma (id)
              </div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira podatke određenog filma</div>
            </td>
            <td>
              <div class="oznaka zelena">Briše određeni film</div>
            </td>
            <td>
              <div>
                Pri PUT metodi se updatea samo je li prihvaćen za dodavanje u
                bazu ili ne
              </div>
            </td>
          </tr>
          <tr>
            <td><div>api/zanr/</div></td>
            <td><div class="oznaka zelena">Vraća listu žanrova</div></td>
            <td><div class="oznaka zelena">Dodaje novi žanr</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div class="oznaka zelena">
                Briše sve žanrove za koje ne postoji film
              </div>
            </td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/zanr/:id</div></td>
            <td>
              <div class="oznaka zelena">
                Vraća podatke određenog žanra (id)
              </div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira postojeći žanr</div>
            </td>
            <td><div class="oznaka zelena">Briše određeni žanr</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/tmdb/zanr</div></td>
            <td>
              <div class="oznaka zelena">
                Prosljeđuje listu žanrova koji vrati servis TMDB
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td>
              <div>
                api/tmdb/filmovi?kljucnaRijec=rijec1[,rijec2]&stranica=broj
              </div>
            </td>
            <td>
              <div class="oznaka zelena">
                Prosljeđuje listu filmova koju vrati servis TMDB, a čiji filmovi
                imaju ključnu riječ ili više njih
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Uloga</th>
            <th>Stranica/e</th>
            <th>Opis</th>
            <th>Detaljno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gost</td>
            <td><div class="oznaka zuta">Početna</div></td>
            <td>
              Prikazuje popis žanrova u bazi podataka i nasumice prikazuje 2
              filma za svaki žanr koji postoje u bazi podataka.
            </td>
            <td>Jedino ne prikazuje filmove iz moje baze, nego iz TMDB-a</td>
          </tr>
          <tr>
            <td>Gost</td>
            <td><div class="oznaka zelena">Dokumentacija</div></td>
            <td>
              <div>Prikazuje stranicu dokumentacija.html opisanu ranije</div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Gost</td>
            <td>
              <div class="oznaka zelena">Registracija, Prijava, Odjava</div>
            </td>
            <td>
              <div>
                Gost se može se registrirati kao novi korisnik.
                <s>
                  Kod registracije šalje se e-mail s tokenom za aktivaciju
                  računa.
                </s>
                Lozinka se u bazu ne smije spremati u čitljivom obliku i treba
                koristiti sol kod spremanja.
                <s>
                  Dok se račun ne aktivira nije moguće napraviti prijavu. Kod
                  prijave treba koristiti autentikacija dvije razine prvo
                  lozinka s JWT i nakon toga TOTP.
                </s>
                Jednom prijavljeni korisnik može se odjaviti u bilo kojem
                trenutku.
              </div>
            </td>
            <td>
              <div>
                Sve radi. REST servis ne koristi više username i password
              </div>
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zelena">Profil</div></td>
            <td>
              <div>
                Vidi svoje podatke (ime, prezime, korisničko ime, e-mail, ...) i
                može ih ažurirati. Korisničko ime i e-mail se ne mogu ažurirati.
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Filmovi pregled</div></td>
            <td>
              <div>
                Vidi popis svih filmova koji postoje u bazi, može filmove
                filtrirati po žanru i/ili datumu unosa. Datumsko filtriranje
                čita podatke od unesenog datuma do današnjeg datuma. Može
                uzlazno sortirati filmove po nazivu filma, datumu ili nazivu
                žanra. Može kliknuti na naziv filma i dobiti sve podatke o
                filmu.
              </div>
            </td>
            <td>
              Vidi se popis filmova i detalji o filmu kad se klikne, može se
              pretraživati jedino po nazivu. (za sad)
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zelena">Film</div></td>
            <td>
              <div>
                Prikazuje sve podatke o filmu zajedno s posterom i poveznicom na
                “Galerija slika” za taj film i podatkom koji korisnik je dodao
                film u bazu.
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td>
              <div class="oznaka zelena">Filmovi pretraživanje</div>
            </td>
            <td>
              <div>
                Može upisati ključne riječi po kojima se pretražuju filmovi sa
                servisa TMDB (preko api/tmdb). Broj stranica nalazi se u podatku
                “total_pages”. Ako pronađe film koji mu se sviđa može kliknuti
                na dodaj u bazu. Film se svim dobivenim podacima dodaje u bazu
                kao prijedlog, ali čeka odobrenje admina da bude vidljiv u
                “Filmovi pregled”. Nije potrebno spremati podatke o
                “production_companies”, “production_countries” i
                “spoken_languages”. Ako već postoji prijedlog za neki film tada
                nije moguće kliknuti dodaj u bazu
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Galerija slika</div></td>
            <td>
              <div>
                Korisnik vidi galeriju slika postavljenih od strane svih
                korisnika za odabrani film. Može pretraživati galeriju slika po
                datumu postavljanja slike tako da unese od i/ili do datum. Može
                kliknuti na sliku te ga se prebacuje na “Film”
              </div>
            </td>
            <td>
              Jedino radi da se otvori stranica za odabrani film i prikaže
              naslov, dio sa slikama nije implementiran
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Slika</div></td>
            <td>
              <div>
                Može postaviti novu sliku (samo jpg, jpeg, png ili gif
                maksimalne veličine 500KB) za neki film koji postoji u bazi.
                Slika se sprema fizički na poslužitelj unutar direktorija
                slike/id_filma/korime. Direktorij označen sa id_filma
                predstavlja id filma pod kojim je film spremljen u bazi, a
                direktroij korime je korisničko ime korisnika koji je dodao
                sliku. Slika se sprema pod nazivom datum_hash.ekstenzija. Datum
                je datum postavljanja slike u obliku “godina-mjesec-dan”, a hash
                je generiran na temelju vremena i korisničkog imena. Ekstenzija
                je originalna ekstenzija prenesene datoteke
              </div>
            </td>
            <td>
              Radi dio s prijenosom i validacijom (provjera vrste i dopuštene
              veličine datoteke). Javlja se obavijest ako korisnik nije odabrao
              dobru sliku, a može se i obrisati odabir slike. Slika se ne
              sprema, tj. to dalje nije implementirano.
            </td>
          </tr>
          <tr>
            <td>Admin</td>
            <td><div class="oznaka zuta">Filmovi prijedlozi</div></td>
            <td>
              <div>
                Vidi popis filmova koji su poslani kao prijedlog za dodavanje,
                ako odobri film postaje vidljiv svim korisnicima u pogledu
                “Filmovi pregled”. Kod odobravanja filma preuzima se slika
                postera s TMDB koja se sprema lokalno na poslužitelj u
                direktorij posteri. Ako ne odobri film tada se on briše i može
                se opet kasnije dati kao prijedlog
              </div>
            </td>
            <td>
              Radi sve, jedino nije implementirano spremanje slike postera
            </td>
          </tr>
          <tr>
            <td>Admin</td>
            <td><div class="oznaka zelena">Žanrovi</div></td>
            <td>
              <div>
                Vidi pregled svih žanrova u bazi podataka, može ažurirati naziv
                žanra, može obrisati sve žanrove za koje nema filmova u bazi.
                Može povući listu žanrova s TMDB servisa te može dodati u bazu
                sve ili samo neke žanrove. Ako pri dodavanju, već postoji neki
                žanr s istim id-om, tada se takav preskače i uopće se ne šalje
                zahtjev na servis za dodavanjem. Korisniku se javlja poruka na
                ekranu koji žanrovi su bili preskočeni jer već postoje
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Korak</th>
            <th>Što je dovršeno</th>
            <th>Što nije dovršeno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kreirati 3 tablice na dokumentaciji i ispuniti ih</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Prebaciti bazu u sqlite</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Posložiti strukturu prema uputama</td>
            <td>TODO</td>
            <td></td>
          </tr>
          <tr>
            <td>Pokretanje sa npm start</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Posložiti NODE_PATH</td>
            <td>TODO</td>
            <td></td>
          </tr>
          <tr>
            <td>Izbrisati svoje ključeve za TMDB</td>
            <td>TODO</td>
            <td></td>
          </tr>
          <tr>
            <td>REST koristi port iz konfiguracijske datoteke pod rest.port</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>REST ne koristi više username i password, nego JWT</td>
            <td>Izbačen username i password</td>
            <td>Nije dodano da radi s JWT-om</td>
          </tr>
          <tr>
            <td>Klijentski dio prebačen u Angular</td>
            <td>Većina</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Informacije o portovima se čitaju iz environment datoteke</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Dizajn koristi SASS</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Dodana bar 3 reCaptcha v3 (prijava, reg + 1 po izboru)</td>
            <td>TODO</td>
            <td></td>
          </tr>
          <tr>
            <td>
              Pozadinski dio web aplikacije poslužuje Angular web aplikaciju.
            </td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>
              Pozadinski dio web aplikacije poslužuje dokumentaciju ili je
              ugrađena u Angular
            </td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>
              Pozadinski dio web aplikaciije nudi REST api podršku za klijentsku
              stranu sa resursima koji ne postoje u REST servisu npr.
              autentifikacija korisnika i generiranje JWT-a.
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>
              Pozadinski dio port se mora čitati iz konfiguracijske datoteke iz
              podatka: app.port
            </td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Izbačen TOTP i aktivacija mailom kod prijave</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Prikazati podatke za login za admina i korisnika</td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td>
              Angular aplikacija smije direktno komunicirati sa REST servisom,
              ali mora obavezno slati JWT.
            </td>
            <td>Komunicira direktno.</td>
            <td>Ne šalje JWT</td>
          </tr>
          <tr>
            <td>
              Datumski podaci su u obliku dan.mjesec.godina sati:minute:sekunde
            </td>
            <td>Sve</td>
            <td>-</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
