<div class="o-studentu">
  <div class="podaci-container">
    <a href="/">
      <img
        src="/assets/fotke/previous_icon_light.png"
        alt="back"
        class="back-icon"
        title="Na početnu"
      />
    </a>
    <h2>Podaci</h2>
    <div class="dokumentacija-container">
      <div class="podaci veci">
        <h3>Ana Škarica</h3>
        <h3>GitHub: CroAnna</h3>
      </div>
      <div class="slike">
        <img src="/assets/fotke/ja.jpg" alt="moja-slika" />
      </div>
    </div>
  </div>
</div>
