<div class="o-studentu">
  <div class="podaci-container">
    <a href="/">
      <img
        src="/assets/fotke/previous_icon_light.png"
        alt="back"
        class="back-icon"
        title="Na početnu"
      />
    </a>
    <h2>Podaci</h2>
    <div class="dokumentacija-container">
      <div class="podaci veci">
        <h3>Ana Škarica</h3>
        <h3>askarica20@student.foi.hr</h3>
        <h3>IPS-RPS</h3>
      </div>
      <div class="slike">
        <img src="/assets/fotke/ja.jpg" alt="moja-slika" />
      </div>
    </div>
    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th></th>
            <th>Legenda</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="oznaka zelena">Sve je napravljeno</div></td>
            <td>
              <div class="oznaka zuta">Djelomično je napravljeno</div>
            </td>
            <td>
              <div class="oznaka crvena">Skoro ništa nije napravljeno</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Resurs Parametri</th>
            <th>GET čitanje</th>
            <th>POST kreiranje</th>
            <th>PUT ažuriranje</th>
            <th>DELETE brisanje</th>
            <th>Detaljno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>api/korisnici</td>
            <td>
              <div class="oznaka zelena">vraća listu korisnika</div>
            </td>
            <td>
              <div class="oznaka zelena">kreira novog korisnika</div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/:korime</div></td>
            <td>
              <div class="oznaka zelena">vraća određenog korisnika</div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira određenog korisnika</div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/korime/aktivacija</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">405</div></td>
            <td><div class="oznaka zelena">Aktivira novog korisnika</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/korisnici/korime/prijava</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div class="oznaka zelena">
                Provjerava podatke prijave i vraća je li korisnik uspješno
                prijavljen
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td>
              <div>
                api/filmovi/?stranica=broj&brojFilmova=
                broj[&datum=datum][&zanr=idZanr]
                [&naziv=dioNazivFilma][&sortiraj=[d|z|n]]
              </div>
            </td>
            <td>
              <div class="oznaka zuta">
                vraća listu određenog broja filmova za neku stranicu (broj),
                opcionalno filtrirano po datumu unosa (datum) i/ili žanru
                (idZanr) i/ili nazivu filma (dioNazivFilma), te može sortirati
                uzlazno po datumu(d), nazivu(n) ili žanru(z)
              </div>
            </td>
            <td>
              <div class="oznaka zelena">
                Uz dobivene podatke čita sve podatke o filmu s vanjskog servisa
                i dodaje novi film
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div>
                Pri GET metodi nema svih vrsta filtriranja i sortiranja, nego
                samo neke
              </div>
            </td>
          </tr>
          <tr>
            <td><div>api/filmovi/:id</div></td>
            <td>
              <div class="oznaka zelena">
                Vraća podatke određenog filma (id)
              </div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira podatke određenog filma</div>
            </td>
            <td>
              <div class="oznaka zelena">Briše određeni film</div>
            </td>
            <td>
              <div>
                Pri PUT metodi se updatea samo je li prihvaćen za dodavanje u
                bazu ili ne
              </div>
            </td>
          </tr>
          <tr>
            <td><div>api/zanr/</div></td>
            <td><div class="oznaka zelena">Vraća listu žanrova</div></td>
            <td><div class="oznaka zelena">Dodaje novi žanr</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td>
              <div class="oznaka zelena">
                Briše sve žanrove za koje ne postoji film
              </div>
            </td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/zanr/:id</div></td>
            <td>
              <div class="oznaka zelena">
                Vraća podatke određenog žanra (id)
              </div>
            </td>
            <td><div class="oznaka zelena">405</div></td>
            <td>
              <div class="oznaka zelena">Ažurira postojeći žanr</div>
            </td>
            <td><div class="oznaka zelena">Briše određeni žanr</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td><div>api/tmdb/zanr</div></td>
            <td>
              <div class="oznaka zelena">
                Prosljeđuje listu žanrova koji vrati servis TMDB
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
          <tr>
            <td>
              <div>
                api/tmdb/filmovi?kljucnaRijec=rijec1[,rijec2]&stranica=broj
              </div>
            </td>
            <td>
              <div class="oznaka zelena">
                Prosljeđuje listu filmova koju vrati servis TMDB, a čiji filmovi
                imaju ključnu riječ ili više njih
              </div>
            </td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div class="oznaka zelena">501</div></td>
            <td><div></div></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Uloga</th>
            <th>Stranica/e</th>
            <th>Opis</th>
            <th>Detaljno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gost</td>
            <td><div class="oznaka zuta">Početna</div></td>
            <td>
              Prikazuje popis žanrova u bazi podataka i nasumice prikazuje 2
              filma za svaki žanr koji postoje u bazi podataka.
            </td>
            <td>Jedino ne prikazuje filmove iz moje baze, nego iz TMDB-a</td>
          </tr>
          <tr>
            <td>Gost</td>
            <td><div class="oznaka zelena">Dokumentacija</div></td>
            <td>
              <div>Prikazuje stranicu dokumentacija.html opisanu ranije</div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Gost</td>
            <td>
              <div class="oznaka zelena">Registracija, Prijava, Odjava</div>
            </td>
            <td>
              <div>
                Gost se može se registrirati kao novi korisnik.
                <s>
                  Kod registracije šalje se e-mail s tokenom za aktivaciju
                  računa.
                </s>
                Lozinka se u bazu ne smije spremati u čitljivom obliku i treba
                koristiti sol kod spremanja.
                <s>
                  Dok se račun ne aktivira nije moguće napraviti prijavu. Kod
                  prijave treba koristiti autentikacija dvije razine prvo
                  lozinka s JWT i nakon toga TOTP.
                </s>
                Jednom prijavljeni korisnik može se odjaviti u bilo kojem
                trenutku.
              </div>
            </td>
            <td>
              <div>
                Sve radi. REST servis ne koristi više username i password
              </div>
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zelena">Profil</div></td>
            <td>
              <div>
                Vidi svoje podatke (ime, prezime, korisničko ime, e-mail, ...) i
                može ih ažurirati. Korisničko ime i e-mail se ne mogu ažurirati.
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Filmovi pregled</div></td>
            <td>
              <div>
                Vidi popis svih filmova koji postoje u bazi, može filmove
                filtrirati po žanru i/ili datumu unosa. Datumsko filtriranje
                čita podatke od unesenog datuma do današnjeg datuma. Može
                uzlazno sortirati filmove po nazivu filma, datumu ili nazivu
                žanra. Može kliknuti na naziv filma i dobiti sve podatke o
                filmu.
              </div>
            </td>
            <td>
              Vidi se popis filmova i detalji o filmu kad se klikne, može se
              pretraživati jedino po nazivu.
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zelena">Film</div></td>
            <td>
              <div>
                Prikazuje sve podatke o filmu zajedno s posterom i poveznicom na
                “Galerija slika” za taj film i podatkom koji korisnik je dodao
                film u bazu.
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td>
              <div class="oznaka zelena">Filmovi pretraživanje</div>
            </td>
            <td>
              <div>
                Može upisati ključne riječi po kojima se pretražuju filmovi sa
                servisa TMDB (preko api/tmdb). Broj stranica nalazi se u podatku
                “total_pages”. Ako pronađe film koji mu se sviđa može kliknuti
                na dodaj u bazu. Film se svim dobivenim podacima dodaje u bazu
                kao prijedlog, ali čeka odobrenje admina da bude vidljiv u
                “Filmovi pregled”. Nije potrebno spremati podatke o
                “production_companies”, “production_countries” i
                “spoken_languages”. Ako već postoji prijedlog za neki film tada
                nije moguće kliknuti dodaj u bazu
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Galerija slika</div></td>
            <td>
              <div>
                Korisnik vidi galeriju slika postavljenih od strane svih
                korisnika za odabrani film. Može pretraživati galeriju slika po
                datumu postavljanja slike tako da unese od i/ili do datum. Može
                kliknuti na sliku te ga se prebacuje na “Film”
              </div>
            </td>
            <td>
              Jedino radi da se otvori stranica za odabrani film i prikaže
              naslov, dio sa slikama nije implementiran
            </td>
          </tr>
          <tr>
            <td>Korisnik</td>
            <td><div class="oznaka zuta">Slika</div></td>
            <td>
              <div>
                Može postaviti novu sliku (samo jpg, jpeg, png ili gif
                maksimalne veličine 500KB) za neki film koji postoji u bazi.
                Slika se sprema fizički na poslužitelj unutar direktorija
                slike/id_filma/korime. Direktorij označen sa id_filma
                predstavlja id filma pod kojim je film spremljen u bazi, a
                direktroij korime je korisničko ime korisnika koji je dodao
                sliku. Slika se sprema pod nazivom datum_hash.ekstenzija. Datum
                je datum postavljanja slike u obliku “godina-mjesec-dan”, a hash
                je generiran na temelju vremena i korisničkog imena. Ekstenzija
                je originalna ekstenzija prenesene datoteke
              </div>
            </td>
            <td>
              Radi dio s prijenosom i validacijom (provjera vrste i dopuštene
              veličine datoteke). Javlja se obavijest ako korisnik nije odabrao
              dobru sliku, a može se i obrisati odabir slike. Slika se ne
              sprema, tj. to dalje nije implementirano.
            </td>
          </tr>
          <tr>
            <td>Admin</td>
            <td><div class="oznaka zuta">Filmovi prijedlozi</div></td>
            <td>
              <div>
                Vidi popis filmova koji su poslani kao prijedlog za dodavanje,
                ako odobri film postaje vidljiv svim korisnicima u pogledu
                “Filmovi pregled”. Kod odobravanja filma preuzima se slika
                postera s TMDB koja se sprema lokalno na poslužitelj u
                direktorij posteri. Ako ne odobri film tada se on briše i može
                se opet kasnije dati kao prijedlog
              </div>
            </td>
            <td>
              Radi sve, jedino nije implementirano spremanje slike postera
            </td>
          </tr>
          <tr>
            <td>Admin</td>
            <td><div class="oznaka zelena">Žanrovi</div></td>
            <td>
              <div>
                Vidi pregled svih žanrova u bazi podataka, može ažurirati naziv
                žanra, može obrisati sve žanrove za koje nema filmova u bazi.
                Može povući listu žanrova s TMDB servisa te može dodati u bazu
                sve ili samo neke žanrove. Ako pri dodavanju, već postoji neki
                žanr s istim id-om, tada se takav preskače i uopće se ne šalje
                zahtjev na servis za dodavanjem. Korisniku se javlja poruka na
                ekranu koji žanrovi su bili preskočeni jer već postoje
              </div>
            </td>
            <td>Sve radi.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <table class="tablica">
        <thead>
          <tr>
            <th>Zadatak</th>
            <th>Opis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1. Na stranicu dokumentacija kreirati tablicu u kojoj jasno pišu
              resursi iz prvog dijela (REST servis) su napravljene, a koje nisu
              prema opisu tablice zadaće 1
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              2. Na stranicu dokumentacija kreirati tablicu u kojoj jasno pišu
              pogledi iz drugog dijela (APP) koji su implementirani, a koje nisu
              prema opisu tablice zadaće 1.
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              3. Na stranicu dokumentacija kreirati tablicu po koracima (počevši
              od zadaci općenito) ovog dokumenta u kojoj jasno pišu elementi
              opisa 2 zadaće koji su napravljeni, koji nisu.
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              5. U obje aplikacije složiti package.json tako da se sa npm start
              može pokrenuti pojedini server. Kod kreiranja start skripte
              obavezno definirati putanju na NODE_PATH gdje piše putanja do
              globalnih modula kako je to rađeno na predavanjima i vježbama.
              Student/ica kod testiranja tada može lako promijeniti tu putanju.
            </td>
            <td>
              <div>
                Napravljeno. Pošto se radi na Windowsu, nije trebao dio s
                NODE_PATH-om jer se radilo prema uputama kolege Frica s foruma
              </div>
            </td>
          </tr>
          <tr>
            <td>
              6. Kod predavanja izbrisati svoje ključeve za TMDB servis iz
              konfiguracijske datoteke svaki student ubacuje svoje ključeve u
              datoteku kod testiranja.
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              7. REST servis funkcionalno ostaje isti međutim potrebno je
              napraviti sljedeće izmjene: a. Da radi sa SQLite bazom podataka b.
              Da koristi port koji se čita iz konfiguracijske datoteke pod
              nazivom: rest.port
            </td>
            <td>
              <div>
                Sve radi: radi s novom bazom, defaultni app port je 9001, ali se
                može mijenjati (detaljno u zadnjem retku ove tablice)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              8. REST servis može dodatno ima parameter kod resursa api/filmovi
              koji omogućuje dohvat samo odobrenih ili ne odobrenih filmova.
              Nije obavezno.
            </td>
            <td>
              <div>Nije bilo potrebno</div>
            </td>
          </tr>
          <tr>
            <td>
              9. REST servis ne korsiti više username i password već prima JWT i
              tako validira input. Varijanta sa username i password nosi manje
              bodova
            </td>
            <td>
              <div>
                Ne koristi više username i password, a s JWT-om nije
                implementirano
              </div>
            </td>
          </tr>
          <tr>
            <td>
              10. Za dodatne bodove može se prebaciti cijeli REST servis u
              TypeScript. Kod pokretanja sa npm start obavezno se mora napraviti
              recomplike TypeScript-a i korpitanje svih bitnih statičnih
              sadržaja da aplikacija normalno radi.
            </td>
            <td>
              <div>Ovo nije implementirano</div>
            </td>
          </tr>
          <tr>
            <td>
              11. Klientski dio Web Aplikacije HTML, CSS i JS na strani klijenta
              prebaciti u Angular sa TypeScript-om
            </td>
            <td>
              <div>Napravljeno - opisano što radi u tablici 2</div>
            </td>
          </tr>
          <tr>
            <td>
              12. Informacije o portovima na servise koje koristi Angular
              aplikacija čita iz environment datoteke. Hard kodirana varijanta
              nosi manje bodova.
            </td>
            <td>
              <div>
                Napravljeno (bez hardkodiranja, tj. čita se iz datoteke
                (detaljno u zadnjem retku ove tablice))
              </div>
            </td>
          </tr>
          <tr>
            <td>
              13. Dizajn treba prebaciti korištenjem Sass preprocesora u Sass
              ili Scss sintaksi. Čisti CSS ili bootstrap varijante nose 0
              bodova.
            </td>
            <td>
              <div>Dizajn je prebačen u SCSSs</div>
            </td>
          </tr>
          <tr>
            <td>
              14. Dodati reCaptcha v3 sustav na minimalno 3 obrazaca od kojih su
              obavezni: prijava, registracija i jedan po izboru.
            </td>
            <td>
              <div>Nije implementirano</div>
            </td>
          </tr>
          <tr>
            <td>
              15. Pozadinski dio web aplikacije poslužuje Angular web
              aplikaciju. Moguće je pokretanje angular aplikacije preko live
              servera sa ng serve, ali ta varijanta nosi manje bodova
            </td>
            <td>
              <div>
                Implementirano na način da pozadinski dio web aplikacije
                poslužuje Angular web aplikaciju
              </div>
            </td>
          </tr>
          <tr>
            <td>
              16. Pozadinski dio web aplikacije poslužuje dokumentaciju - moguće
              je dokumentaciju ugraditi u samu angular aplikaciju.
            </td>
            <td>
              <div>Dokumentacija je u Angular aplikaciji kao komponenta</div>
            </td>
          </tr>
          <tr>
            <td>
              17. Pozadinski dio web aplikacije nudi REST api podršku za
              klijentsku stranu sa resursima koji ne postoje u REST servisu npr.
              autentifikacija korisnika i generiranje JWT-a
            </td>
            <td>
              <div>
                Implementirano (hashira se lozinka, JWT se ne koristi pri
                provjeri pristupa)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              18. Pozadinski dio da se port mora čitati iz konfiguracijske
              datoteke iz podatka: app.port
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              19. Izbaciti TOTP i aktivaciju mailom kod prijave. Inicijalno mora
              postojati korisnik iz svake uloge koji nema TOTP i već je
              aktiviran i treba navesti podatke na stranici prijava radi lakšeg
              testiranja
            </td>
            <td>
              <div>Napravljeno</div>
            </td>
          </tr>
          <tr>
            <td>
              20. Angular aplikacija smije direktno komunicirati sa REST
              servisom, ali mora obavezno slati JWT. Varijanta bez JWT-a nosi
              manje bodova.
            </td>
            <td>
              <div>Napravljeno, ali bez slanja JWT-a</div>
            </td>
          </tr>
          <tr>
            <td>
              21. Za dodatne bodove može se prebaciti cijeli pozadinski dio web
              aplikacije u TypeScript. Kod pokretanja sa npm start obavezno se
              mora napraviti recomplike TypeScript-a i korpitanje svih bitnih
              statičnih sadržaja da aplikacija normalno radi
            </td>
            <td>
              <div>Nije implementirano</div>
            </td>
          </tr>
          <tr>
            <td>Dodatne informacije</td>
            <td>
              <div>
                Datum se prikazuje u željenom obliku, rađeno na Windowsu prema
                uputama kolege Frica pa ako ne radi, potrebno je
                posložitivarijable okruženja na taj način
                <br /><br />
                Pokretanje - uđi u \server\aplikacija i `npm start` i u
                \server\servis i `npm start`. Pokreni localhost:9001 u
                pregledniku. (app port je defaultno 9001, a 9000 je rest port)
                <br />
                Za promjenu porta na vlastiti promijeni datoteke environment.ts
                i konfiguracija.csv (portovi moraju biti isti) Ak ti ne radi,
                možda nemaš globalno instalirano sve kaj moraš imat i cors (npm
                -g install cors)
                <br />
                Ako se nešto mijenja, u askarica20\angular se pokrene `ng build`
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
