$color_black: #171717;
$color_white: #ededed;
$color_red: #da0037;
$color_dark_gray: #444444;
$color_white_pure: #fff;
$color_dark_gray: #202020;
$color_light_gray: #9b9b9b;
$color_green: #1bb10b;

#prijedlozi-kontejner {
  width: 40%;
  color: $color_white;
  font-size: 1.5rem;
  margin: 0 auto;
  background-color: $color_black;
  padding: 40px;
  border-radius: 30px;
  & #btnOdobri {
    background-color: $color_dark_gray;
    margin: 4px;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px 20px;
    color: $color_white;
    text-shadow: 2px 2px 3px $color_dark_gray;
    letter-spacing: 2px;
    cursor: pointer;
  }
  & #btnOdbaci {
    background-color: $color_dark_gray;
    margin: 4px;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 5px 20px;
    color: $color_white;
    text-shadow: 2px 2px 3px $color_dark_gray;
    letter-spacing: 2px;
    cursor: pointer;
  }
}

.moji-filmovi {
  & .moj-film {
    justify-content: center;
    width: 100%;
    margin: 15px auto;
    border: 2px solid $color_dark_gray;
    box-shadow: $color_red 0px 0px 5px;
    padding: 10px 20px;
    height: fit-content;
    display: flex;
    & .naslov {
      width: fit-content;
      margin: 0 auto;
      line-height: 50px;
    }
    & button {
      box-shadow: $color_red 0px 0px 5px;
      border: 2px solid $color_red;
    }
    & img {
      margin-left: 50px;
      height: 120px;
    }
  }
}
