<nav>
  <ul>
    <li>
      <a
        routerLink="/zanrovi"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Zanrovi</a
      >
    </li>
    <li>
      <a
        routerLink="/pregledFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="prijavljen == '2' || prijavljen == '1'"
      >
        Pregled filmova
      </a>
    </li>
    <li>
      <a
        routerLink="/prijava"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="!prijavljen"
      >
        Prijava
      </a>
    </li>
    <li>
      <a
        routerLink="/prijedloziFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        *ngIf="prijavljen == '1'"
      >
        Prijedlozi
      </a>
    </li>
    <li>
      <a
        routerLink="/pocetna"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pocetna</a
      >
    </li>
    <li>
      <a
        routerLink="/pocetna"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="odjaviKorisnika()"
        *ngIf="prijavljen == '1' || prijavljen == '2'"
        >Odjava</a
      >
    </li>
  </ul>
</nav>
