<nav>
  <ul>
    <!--// pocetna verzija za routing-->
    <li>
      <a
        routerLink="/zanrovi"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Zanrovi</a
      >
    </li>
    <li>
      <a
        routerLink="/pregledFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pregled filmova</a
      >
    </li>
    <li>
      <a
        routerLink="/prijava"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Prijava</a
      >
    </li>
    <li>
      <a
        routerLink="/prijedloziFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Prijedlozi</a
      >
    </li>
  </ul>
</nav>
