<nav>
  <ul>
    <li>
      <a
        routerLink="/pocetna"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pocetna</a
      >
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/zanrovi"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Zanrovi</a
      >
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/pretrazivanje"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Pretrazivanje</a
      >
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/profil"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Profil
      </a>
    </li>
    <li *ngIf="!prijavljenAdmin && !prijavljenKorisnik">
      <a
        routerLink="/prijava"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Registracija
      </a>
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/pregledFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Pregled filmova
      </a>
    </li>
    <li *ngIf="prijavljenAdmin">
      <a
        routerLink="/prijedloziFilmova"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Prijedlozi
      </a>
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/upload"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Upload
      </a>
    </li>
    <li>
      <a
        routerLink="/dokumentacija"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Dokumentacija</a
      >
    </li>
    <li *ngIf="prijavljenAdmin || prijavljenKorisnik">
      <a
        routerLink="/pocetna"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        (click)="odjaviKorisnika()"
        >Odjava</a
      >
    </li>
  </ul>
</nav>
