<div class="pregled">
  <select id="sort">
    <option value="Naziv">Naziv</option>
    <option value="Datum">Datum</option>
    <option value="Zanr">Zanr</option>
  </select>
  <div id="stranicenje"></div>
  <h2>Pregled filmova</h2>

  <div id="moji-filmovi-kontejner">
    <div *ngFor="let film of filmoviOdobreni">
      <div class="moji-filmovi">
        <div
          class="moj-film"
          *ngIf="film.odobreno == 1"
          routerLink="/pregledFilmova/film/{{ film.id }}"
        >
          ---> {{ film.title }} {{ film.id }}
        </div>
      </div>
    </div>
  </div>
</div>
