<div class="pretrazivanje-gore">
  <div id="stranicenje">
    <button class="btnStranicenje" *ngIf="stranica > 1" (click)="strPrva()">
      <<
    </button>
    <button class="btnStranicenje" *ngIf="stranica > 1" (click)="strNatrag()">
      <
    </button>
    <button
      class="btnStranicenje"
      *ngIf="stranica < zadnjaStranica"
      (click)="strDalje()"
    >
      >
    </button>
    <button
      class="btnStranicenje"
      *ngIf="stranica < zadnjaStranica"
      (click)="strZadnja()"
    >
      >>
    </button>
  </div>
  <h1 class="pretrazivanje">Pregled filmova</h1>
  <input
    type="text"
    id="filterPRCMAN"
    class="search"
    placeholder="Pretrazi po nazivu..."
    name="rijeci"
    (input)="onSearchChange($event)"
  />
</div>

<div class="sadrzaj">
  <span *ngFor="let film of filmoviFiltrirani">
    <div class="dohvFilm pregled-film" *ngIf="film.odobreno == 1">
      <div class="img-div" routerLink="/pregledFilmova/film/{{ film.id }}">
        <img
          src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{
            film.poster_path
          }}"
          x
          alt="poster"
        />
        <div class="tekst pregled-film">
          <h4>{{ film.original_title }}</h4>
          <p>{{ film.overview }}</p>
        </div>
      </div>
    </div>
  </span>
</div>
