<div class="pretrazivanje-gore">
  <h1 class="pretrazivanje">Pregled filmova</h1>
</div>

<div class="sadrzaj">
  <span *ngFor="let film of filmoviFiltrirani">
    <div class="dohvFilm pregled-film" *ngIf="film.odobreno == 1">
      <div class="img-div" routerLink="/pregledFilmova/film/{{ film.id }}">
        <img
          src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{
            film.poster_path
          }}"
          x
          alt="poster"
        />
        <div class="tekst pregled-film">
          <h4>{{ film.original_title }}</h4>
          <p>{{ film.overview }}</p>
        </div>
      </div>
    </div>
  </span>
</div>
