<div class="zanrovi-gumbi">
  <button class="lijepiGumb" id="dajPodatke" (click)="prikaziTMDBZanrove()">
    Ucitaj zanrove TMDB
  </button>
  <button class="lijepiGumb" id="dajMojePodatke" (click)="prikaziMojeZanrove()">
    Ucitaj zanrove moja baza
  </button>
  <button class="lijepiGumb" id="dodajTMDBPodatke" (click)="dodajTMDBPodatke()">
    Dodaj iz TMDB-a u moju bazu
  </button>
  <button class="lijepiGumb" id="promijeniNaziv" (click)="promijeniNaziv()">
    Promijeni naziv odabranog
  </button>
  <button class="lijepiGumb" id="izbrisiBezFilmova" (click)="brisanje()">
    Izbrisi sve zanrove bez filmova
  </button>
</div>
<div id="zanrovi-container-moje">
  <ul *ngFor="let zanr of zanroviMoji">
    <li>
      <input
        type="radio"
        id="{{ zanr.id }}"
        name="moji-zanrovi"
        value="{{ zanr.name }}"
        (change)="onChangeOdabraniRadioMoj($event, zanr.id)"
      />
      {{ zanr.name }} {{ zanr.id }}
    </li>
  </ul>
</div>
<div id="informacije-zanrovi"></div>
<input type="text" id="inputPromjenaNaziva" [(ngModel)]="noviNaziv" />
<div id="zanrovi-container">
  <ul *ngFor="let zanr of zanroviTMDB">
    <li>
      <input
        type="radio"
        id="{{ zanr.id }}"
        name="tmdb-zanrovi"
        value="{{ zanr.name }}"
        (change)="onChangeOdabraniRadioTmdb($event, zanr.id)"
      />
      {{ zanr.name }} {{ zanr.id }}
    </li>
  </ul>
</div>
