<div class="podaci profil">
  <h2>Moj profil</h2>
  <form (ngSubmit)="onSubmit($event)">
    <label for="profil-ime">Ime</label>
    <input
      id="profil-ime"
      type="text"
      value="{{ logiraniKorisnik.ime }}"
      name="ime"
    />
    <label for="profil-prezime">Prezime</label>
    <input
      id="profil-prezime"
      type="text"
      value="{{ logiraniKorisnik.prezime }}"
      name="prezime"
    />
    <label for="profil-korime">Korisnicko ime</label>
    <input
      id="profil-korime"
      type="text"
      readonly
      value="{{ logiraniKorisnik.korime }}"
    />
    <label for="profil-email">E-mail</label>
    <input
      id="profil-email"
      type="text"
      readonly
      value="{{ logiraniKorisnik.email }}"
    />
    <div class="gumbi">
      <button id="btnSpremi" type="submit">Spremi</button>
      <button id="btnOdustani" type="button" (click)="odustani()">
        Odustani
      </button>
    </div>
  </form>
</div>
