<div class="pretrazivanje-gore">
  <div id="stranicenje">
    <button class="btnStranicenje" (click)="strPrva()"><<</button>
    <button class="btnStranicenje" (click)="strNatrag()"><</button>
    <button class="btnStranicenje" (click)="strDalje()">></button>
    <button class="btnStranicenje" (click)="strZadnja()">>></button>
  </div>
  <h1 class="pretrazivanje">Pretraživanje filmova</h1>
  <input
    type="text"
    id="filterPRCMAN"
    class="search"
    placeholder="Kljucne rijeci"
    name="rijeci"
    (input)="onSearchChange($event)"
  />
</div>

<div class="pretrazivanje-kontejner">
  <div id="poruka"></div>
  <br />
  <div id="stranicenje"></div>
  <div id="sadrzaj">
    <div *ngFor="let film of dohvaceniFilmovi" class="grid">
      <div class="dohvFilm">
        <h4>{{ film.original_title }}</h4>
        <div class="img-div">
          <img
            src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{
              film.poster_path
            }}"
            alt="poster"
          />
        </div>
        <div class="tekst">
          {{ film.overview }}
        </div>
        <button (click)="dodaj(film.id)">Dodaj u bazu</button>
      </div>
    </div>
  </div>
</div>
