/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projekti/rwazadaca2/src/styles.scss?ngGlobalStyle ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap);
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projekti/rwazadaca2/src/styles.scss?ngGlobalStyle (1) ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap);
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./projekti/rwazadaca2/src/styles.scss?ngGlobalStyle (2) ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  background-attachment: fixed;
  background: radial-gradient(circle, rgb(74, 83, 131) 0%, rgb(125, 199, 249) 100%);
  /*
  background: radial-gradient(
    circle,
    rgba(218, 0, 55, 1) 0%,
    rgba(23, 23, 23, 1) 100%
  );*/
}

.o-studentu {
  margin: 20px auto;
  width: 60%;
}

.podaci-container {
  background-color: #202020;
  padding: 50px;
  border-radius: 30px;
  display: block;
}
.podaci-container h2 {
  color: #ededed;
  text-align: center;
  font-size: 70px;
}
.podaci-container h3 {
  font-size: 30px;
  padding: 10px;
}

.podaci {
  margin: 20px auto;
  background-color: #9b9b9b;
  color: #171717;
  width: 95%;
  padding: 30px;
  border-radius: 15px;
  width: 50%;
  font-size: 1.5rem;
}
.podaci input {
  display: block;
  background-color: #9b9b9b;
  border: var(--dark) 1px solid;
  font-size: 1.5rem;
}
.podaci .gumbi {
  display: flex;
  align-items: center;
  justify-content: center;
}
.podaci #btnSpremi {
  background-color: #ededed;
  font-weight: 600;
  box-shadow: var(--red) 0px 0px 15px;
}
.podaci #btnSpremi:hover {
  background-color: #da0037;
  color: #ededed;
  transition: all 0.6s;
}
.podaci #btnOdustani {
  background-color: #9b9b9b;
  color: #171717;
  font-weight: 600;
}
.podaci #btnOdustani:hover {
  background-color: #171717;
  color: #ededed;
  transition: all 0.6s;
}
.podaci form {
  background-color: #202020;
  max-width: 1000px;
  align-items: center;
  border-radius: 10px;
  margin: 0px auto;
  padding: 30px;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
.podaci form input {
  background-color: #9b9b9b;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 4px;
  width: 85%;
  align-items: center;
  justify-content: center;
}
.podaci button {
  background-color: #1bb10b;
  text-align: center;
  padding: 10px 30px;
  width: 250px;
  height: 70px;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  margin: 50px 20px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.podaci h2 {
  text-align: center;
  margin: 5px auto 20px;
}

.slike {
  display: flex;
  justify-content: center;
}
.slike img {
  width: 380px;
  height: 490px;
  padding: 4px;
  border-radius: 15px;
}

.back-icon {
  position: absolute;
  color: #da0037;
}

nav {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: sticky;
  top: 0;
  display: block;
  border-radius: 20px;
  padding: 0px 80px;
  margin: 25px auto;
  padding: 5px 0 5px 0;
  width: 50%;
  justify-content: center;
  text-align: center;
  z-index: 1;
}
nav ul {
  text-transform: uppercase;
  padding: 10px 0;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  display: inline-block;
}
nav ul li {
  text-align: center;
  display: inline;
  padding: 21px;
}
nav ul li a {
  color: #ededed;
  font-weight: 450;
  font-size: 150%;
  text-decoration: none;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
}
nav ul li:hover {
  color: #171717;
}

.pretrazivanje-gore {
  position: relative;
}

.search {
  display: flex;
  background-color: #ededed;
  height: 40px;
  padding: 10px;
  width: 400px;
  float: right;
  position: absolute;
  right: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--red);
}

.login-container {
  transition: all 2s;
  min-width: 1000px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 30px;
  display: flex;
  width: 70%;
  box-shadow: 0px 0px 20px var(--darkgrey);
  text-align: center;
}
.login-container .lijevo {
  align-items: center;
  flex: 3;
  padding: 30px 0;
  margin-top: 80px;
}
.login-container .lijevo h2 {
  font-size: 7rem;
  font-family: "Exo", sans-serif;
  text-shadow: 2px 2px 3px var(--red);
  color: #171717;
}
.login-container .lijevo h3 {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #202020;
}
.login-container .lijevo ul {
  width: 70%;
  margin: 25px auto;
  text-align: left;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  list-style-type: square;
}
.login-container .lijevo li {
  margin: 15px 0px 10px 40px;
}
.login-container .lijevo span {
  font-size: 2.5rem;
}
.login-container .desno {
  padding: 20px;
  margin: 30px;
  flex: 2;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 2px var(--dark);
  height: 690px;
}
.login-container #btnSalji {
  margin: 40px auto 0;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #da0037;
  border: #fff solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
}
.login-container button:hover {
  background-color: #171717;
  transition: all 0.3s;
}
.login-container p {
  color: #ededed;
  margin-top: 30px;
  font-family: "Exo", sans-serif;
  cursor: pointer;
}
.login-container p span {
  color: #da0037;
  text-shadow: 0px 0px 10px var(--white);
  font-weight: bolder;
  font-family: "Exo", sans-serif;
  cursor: pointer;
}
.login-container .input-container {
  width: 380px;
}
.login-container .login {
  margin: 130px auto;
}
.login-container .registration {
  margin: 40px auto;
}
.login-container h2 {
  font-family: "Exo", sans-serif;
  color: #ededed;
  font-size: 30px;
  text-shadow: 2px 2px 8px var(--darkgrey);
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 5px;
}
.login-container h3 {
  position: relative;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  text-shadow: 2px 2px 8px var(--darkgrey);
  font-weight: 800;
  letter-spacing: 0.4px;
}
.login-container input {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #ff544f;
  background-color: #ededed;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 15px 0;
  font-size: 1.2rem;
}
.login-container input::placeholder {
  opacity: 1;
  transition: all 0.3s;
  color: #202020;
}
.login-container input:focus::placeholder {
  opacity: 0;
}

.login-container.registration-container {
  height: 750px;
}
.login-container.registration-container input {
  margin: 10px 0;
}

.input-container #btnRegistriraj {
  margin: 40px auto 0;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #da0037;
  border: #fff solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
}

select {
  padding: 0.8rem;
  width: 100%;
  height: 100%;
  border: 2px solid #ff544f;
  background-color: #ededed;
  border-radius: 10px;
  transition: all 0.3s;
  margin: 15px 0;
  font-size: 1.2rem;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  margin-left: 70px;
  display: block;
  color: #ededed;
  width: 700px;
}

.sakrij {
  display: none;
  visibility: hidden;
}

.zanrovi-vanjski-container {
  padding: 0 50px;
  color: #ededed;
  width: 80%;
  font-size: 1.5rem;
  margin: 0 auto;
}
.zanrovi-vanjski-container button {
  color: #202020;
  width: 250px;
  font-size: 1.5rem;
}

#zanrovi-container-moje {
  background-color: #202020;
  width: 70%;
  margin: 30px auto;
  padding: 50px;
  border-radius: 30px;
  color: #ededed;
  list-style: none;
}

#zanrovi-container {
  background-color: #202020;
  width: 70%;
  margin: 30px auto;
  padding: 50px;
  border-radius: 30px;
  color: #ededed;
  list-style: none;
}

#profil-korime {
  background: rgba(155, 155, 155, 0.6);
}
#profil-korime:focus {
  outline-width: 0;
}

#profil-email {
  background: rgba(155, 155, 155, 0.6);
}
#profil-email:focus {
  outline-width: 0;
}

#moji-filmovi-kontejner {
  width: 60%;
  color: #ededed;
  font-size: 1.5rem;
  margin: 0 auto;
}

.pregled h2 {
  text-align: center;
  color: #ededed;
  font-size: 1.7rem;
  margin: 40px auto;
}
.pregled select {
  display: flex;
  background-color: #9b9b9b;
  height: 60px;
  padding-left: 12px;
  width: 400px;
  float: right;
  position: relative;
  right: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px var(--red);
}
.pregled li {
  list-style: none;
}
.pregled .moji-filmovi {
  padding: 5px;
  cursor: pointer;
}
.pregled .moji-filmovi:hover {
  background-color: #da0037;
  width: -moz-fit-content;
  width: fit-content;
}
.pregled label {
  margin: 25px auto 0;
  font-size: 1.3rem;
}
.pregled input {
  margin: 5px auto 0;
  font-weight: bold;
  color: #171717;
  background-color: #ededed;
  border: #da0037 solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
  cursor: default;
}
.pregled input:focus {
  outline: none;
}
.pregled textarea {
  margin: 5px auto 0;
  font-weight: bold;
  color: #171717;
  background-color: #ededed;
  border: #da0037 solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
  cursor: default;
}
.pregled textarea:focus {
  outline: none;
}
.pregled a {
  margin-left: 30px;
}

#slika-poster {
  float: left;
  position: absolute;
  margin: auto 35px;
  margin-top: 80px;
  width: 20%;
}

.podaci-filma-kontejner {
  position: relative;
}

.lijepiGumb {
  margin: 60px auto 30px;
  font-weight: bold;
  color: #171717;
  cursor: pointer;
  background-color: #9b9b9b;
  border: var(--dark) solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
}

.lijepiGumbCrveni {
  margin: 60px auto 30px;
  font-weight: bold;
  color: #ededed;
  cursor: pointer;
  background-color: #da0037;
  border: var(--dark) solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 20%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
}

.generirani {
  width: 70%;
  margin: 0 auto;
  background-color: #9b9b9b;
  box-shadow: 0px 0px 15px var(--dark);
  border-radius: 30px;
  padding: 10px;
}
.generirani h2 {
  text-align: center;
  font-size: 2rem;
}
.generirani ol {
  list-style: none;
  padding: 10px;
  font-size: 1.3rem;
}

ul {
  list-style: none;
  padding: 10px;
  font-size: 1.3rem;
}

.zanrovi-gumbi {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}
.zanrovi-gumbi button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pretrazivanje-kontejner {
  background-color: #9b9b9b;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  border-radius: 30px;
}

h1.pretrazivanje {
  margin-top: 30px;
  font-size: 2rem;
  text-align: center;
  color: #ededed;
  position: relative;
  margin-bottom: 20px;
}

#stranicenje {
  margin: 15px;
}

.btnStranicenje {
  background-color: #da0037;
  margin: 4px;
  border-radius: 15px;
  font-size: 1.4rem;
  padding: 5px 20px;
  color: #ededed;
  text-shadow: 2px 2px 3px var(--dark);
  letter-spacing: 2px;
  cursor: pointer;
}

td button {
  background-color: #202020;
  color: #ededed;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.slike-kontejner {
  background-color: #9b9b9b;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
}
.slike-kontejner input {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#slika-upload {
  text-align: center;
  margin: 40px auto;
  padding: 10px;
  padding-left: 15%;
}

#btnUpload {
  cursor: pointer;
  background-color: #da0037;
  color: #ededed;
}

#korisnici-kontejner {
  background-color: #9b9b9b;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2rem;
}
#korisnici-kontejner li {
  list-style: none;
}

#prijedlozi-kontejner {
  width: 50%;
  color: #ededed;
  font-size: 1.5rem;
  margin: 0 auto;
  background-color: #171717;
  padding: 40px;
  border-radius: 30px;
}

#btnOdobri {
  background-color: #202020;
  margin: 4px;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 5px 20px;
  color: #ededed;
  text-shadow: 2px 2px 3px var(--dark);
  letter-spacing: 2px;
  cursor: pointer;
}

#btnOdbaci {
  background-color: #202020;
  margin: 4px;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 5px 20px;
  color: #ededed;
  text-shadow: 2px 2px 3px var(--dark);
  letter-spacing: 2px;
  cursor: pointer;
}

#inputPromjenaNaziva {
  margin: 40px auto 0;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: #171717;
  border: #fff solid 2px;
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 40%;
  font-size: 1.4rem;
  padding: 12px;
  display: block;
}

.ikona-dno {
  width: 50px;
  bottom: 20px;
  cursor: pointer;
  float: right;
  position: absolute;
  right: 20px;
  margin-left: 30px;
  position: sticky;
}

.podaci-prijava {
  color: #ededed;
}

.zanr-item {
  color: #ededed;
}

/*# sourceMappingURL=styles.css.map*/